{% extends "::base.html.twig" %}

{% block title %}AppBundle:Technique:detail{% endblock %}

{% block body %}

<h1>Do you want delete {{ technique.name }} ?</h1>
<p>{{ technique.description }}</p>

<a href="{{ path('technique_delete', {'id': technique.id}) }}">Yes</a>
<a href="{{ path('technique_list') }}">No</a>

{% endblock %}
