<form target="{{ path('technique_create_form') }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input id="name" name="name">
    </div>
    <div>
        <label for="description">description:</label>
        <textarea id="description" name="description">
    </div>

    <div>
        <button type="submit"></button>
    </div>
</form>
