{% extends "::base.html.twig" %}

{% block title %}AppBundle:Technique:List{% endblock %}

{% block body %}

{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="flash-{{ type }}">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}

{% for technique in techniques %}
    <div class="technique">
        <div>
            <h1>
                <a href="{{ path('technique_detail', {'id': technique.id}) }}">
                    {{ technique.name }}
                </a>
            </h1>
            <p>{{ technique.description }}</p>
        </div>
        <div>
            <a href="{{ path('technique_update_form', {'id': technique.id}) }}">Edit</a>
            <a href="{{ path('technique_delete_form', {'id': technique.id}) }}">Delete</a>
        </div>
    </div>
{% endfor %}


<a href="{{ path('technique_create_form') }}">Add</a>

{% endblock %}
