{% extends "::base.html.twig" %}

{% block title %}AppBundle:Technique:detail{% endblock %}

{% block body %}

<form action="{{ path('technique_update', {'id': technique.id}) }}" method="post">
    <div>
        <label for="name">Name:</label>
        <input id="name" name="name" value="{{ technique.name }}">
    </div>
    <div>
        <label for="description">description:</label>
        <textarea id="description" name="description">{{ technique.description }}</textarea>
    </div>

    <div>
        <button type="submit">Update</button>
    </div>
</form>

{% endblock %}
